/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive, handwriting;
    background-color: #f1efed;
    color: #381a09;
}

header {
    background-color: #47341c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 125px;
}

.Logo1 img {
    max-width: 900px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #7e685b;
}

.hero {
    text-align: center;
    /*padding: 150px 0;*/
    background-image: url('hero-bg.jpg');
    background-size: cover;
    color: rgb(0, 0, 0);
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c3c32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #7e685b;
}

.menu {
    padding: 100px 0;
    text-align: center;
}

.menu h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about {
    padding: 100px 0;
    text-align: center;
    background-color: #ede4d6;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

.contact {
    padding: 100px 0;
    text-align: center;
    background-color: #4c3c32;
    color: white;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 40px;
}

footer {
    font-family: Arial, sans-serif;
    background-color: #4c3c32;
    color: white;
    text-align: center;
    padding: 20px 0;
}



.s-heading {
    text-align: center;
}

.s-heading h1 {
    color: #4e2706;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
}

.s-heading p {
    color: #cf8256;
    font-size: 1rem;
    margin: 5px;
    text-align: center;
}

.s-box-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.s-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: calc(20% - 50px);    
    padding: 20px 25px;
    height: 400px;
    box-sizing: border-box;
    margin: 30px;
    position: relative;
}

.s-box img {
    height: 75px;
}

.s-box h1 {
    color: #4e2706;
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 8px;

}

.description {
    font-size: 14px;
    margin-top: 10px;
    color: #4e2706;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #cf8256;
    margin-top: 5px;
}

.s-btn {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #4e2706;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cf8256;
    margin-top: 10px;
}

.bar {
    width: 100px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    background-color: #4e2706;
    border-radius: 0px 0px 10px 10px;
    display: none;
    animation: bar 0.5s;
}

.s-box:hover {
    box-shadow: 2px 2px 30px #4e2706;
    transition: all ease 0.3s;
}

.s-btn:hover {
    background-color: #4e2706;
    border: 1px solid #cf8256;
    color: #fff3ec;
    transition: all ease 0.3s;
}

.s-box:hover .bar {
    display: block;
}

